// VARIABLES PARA COLORES
$bg-body: #c0d0ef;
$letras: #ffffff;
$letranegra: #102461;
$primario: #668dc0;
$secundario: #0f1c30;
$verde: #56b281;

// FUENTES
$fuente-titulo:4.5rem;
$fuente-grande: 4rem;
$fuente-mediana: 3.5rem;
$fuente-chica: 3rem;
$fuente-inter-chica: 2rem;
$fuente-muy-chica: 1rem;


// FUENTES DE GOOGLE
$fuente-titulo: "Roboto Mono", monospace;
$fuente-parrafo: "Montserrat", sans-serif;


/*VARIABLES PARA MEDIAQUERIES*/
$pantalla-muy-pequena: 480px;
$pantalla-mas-pequena: 538px;
$pantalla-pequena: 650px;
$pantalla-mediana: 795px;
$pantalla-grande: 992px;
$pantalla-card: 812px;
$pantalla-x: 1014px;
$pantalla-xg: 1055px;